<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>Mat Whiz | Mobile Responsive Test</title>
	<meta name="keywords" content="mobile, responsiveness, tool, grader, etc.">
	<meta name="description" content="Mobile Responsiveness 2017 | Online tools">
	<meta name="author" content="Marco Matildo">
	<!-- CSS  -->
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
	<<!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Search Engine Optimization</a></li>
    <li><a href="#!">Search Engine Marketing</a></li>
    <li><a href="#!">On Page and Off Page Techniques</a></li>
    <li><a href="#1">Mobile Responsive Tools</a></li>
    <li><a href="#1">URL Canonicalization, etc..</a></li>
    <li class="divider"></li>
  </ul>

  <!-- Dropdown Structure -->
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">Search Engine Optimization</a></li>
    <li><a href="#!">Search Engine Marketing</a></li>
    <li><a href="#!">On Page and Off Page Techniques</a></li>
    <li><a href="#1">Mobile Responsive Tools</a></li>
    <li><a href="#1">URL Canonicalization, etc..</a></li>
    <li class="divider"></li>
  </ul>
  
  <nav class="teal lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Mat Whiz</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/">Home</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Articles<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#">About</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <!-- <li>
          <div class="user-view">
            <div class="background">
              <img src="images/office.jpg">
            </div>
            <img class="circle" src="images/yuna.jpg">
            <a href="#!name"><span class="white-text name">Marco Mat</span></a>
            <span class="white-text email">jdandturk@gmail.com</span>
          </div>
        </li> -->
        <li><a href="/">Home</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Articles<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#">About</a></li>
      </ul>
      
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"><img src="img/banner-responsive.png" alt="Search Engine Optimization"></div>
  </div>

  <nav>
    <div class="nav-wrapper teal">
      <div class="navi col s12">
        <a href="/" class="breadcrumb">Home</a>
        <a href="#main-col" class="breadcrumb">Mobile Responive Tools</a>
      </div>
    </div>
  </nav>
  <br>

  <div>
  	<div class="container">
  		<article id="main-col">
  			<h1 class="brown-text">Tools that helps you test your Site's Mobile Responsive Design</h1><hr>
  			<img src="img/responsive-test/test1.png" alt="google mobile-friendly checker" height="300px" width="570px"><hr><br>
  			<p>The first tool that I used to test my site's responsiveness is the google's <b class="brown-text"><a href="https://search.google.com/test/mobile-friendly">mobile-friendly checker.</a></b> This could be one of the best website that you can use because it is a google made site which is really a known company.</p>
  			<p>As you can see in the picture, it shows that my site is a mobile-friendly and this page is easy to use on a mobile device. <b>BUT</b> it also shows that it has a page loading issues. It is because that my pictures are too heavy and I didn't compress it yet. So there's a need to update my site and compressed all my images to lessen the size of the pictures.</p>

  			<br><br>
  			<p>The second site that I've use to test my site's mobile responsiveness is <b class="brown-text"><a href="https://website.grader.com/">Website Grader</a></b>. Test yours too!</p><br><hr>

  			<img src="img/responsive-test/test2.png" alt="Website Grader Blog Checker" height="300px" width="570px"><hr><br>

  			<p>It says that my site is good and show results for performance, mobile, seo and security.</p>
  			<p>It has a score of 23/30 because it has a good page size, which is light, it is about 72KB and a page request is 8 and the page speed is high, about 6.2 seconds. This could be sucks as users will leave your site as it loads so slow. Therefore, there is a need for my images to compressed.</p>
  			<p>It has a mobile responsive score of 30/30 it is because I set in the head tag the viewport of the page which will be resize depending on the device width. This should actually high because of the time, people usually used mobile devices anywhere.</p>
  			<p>The third part of scoring is the <b><a href="seo-mat.herokuapp.com">SEO</a> </b>Which is very low. So the problem of my blog is that I didn't add meta description tags and a site map for users to know where they are in your blog.</p><br><br><hr>

  			<p>So the third site I used was <b><a href="http://responsivedesignchecker.com/">Responsive Design Checker</a></b></p>

  			<img src="img/responsive-test/test3.png" alt="Responsive design Checker result" height="300px" width="570px"><hr><br>

  			<p>This site is to actually see your site from different devices such as desktop in different sizes of monitor, different types of tablets, and different types of phone such as iphone5s, sony xperia x2, etc. Rather than showing results of the mobile friendliness, you will be the one actually see it and test it. This could also be a good idea</p>

  		</article>
  	</div>
  </div>

  <!-- COMMENT SECTION -->
  <div class="comment-section">
    <div class="container"><br><br>
      <h4>Comment down below!</h4>
      <div class="comment-box">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="comment" class="materialize-textarea"></textarea>
              <label for="comment">Comment here!</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light col s12" type="submit" onclick="insertComment()" id="btn-submit"><a href="#!"></a>Submit</button><br><br><br><br>
        </form>
      </div>
    </div>
    
    <div class="container">
      <h4>COMMENTS:</h4><br>
      <div id="sem-comment">
      </div>
    </div>
  </div>

  <script>
      let json_feedback_responsive = [];

      try{
          let tmp_accounts = JSON.parse(localStorage.getItem("json_feedback_responsive"));

          tmp_accounts.map((account)=>{
              console.log(account);
              json_feedback_responsive.push(account);
          });
       
      }
      catch(TypeError){
          localStorage.setItem('json_feedback_responsive',JSON.stringify(json_feedback_responsive));
      }


      function insertComment(){
          let username = document.querySelector('#comment').value;
          let newName = {
              comment: username
          }
          json_feedback_responsive.push(newName);
          let jns = JSON.stringify(json_feedback_responsive)
          localStorage.setItem('json_feedback_responsive', jns)
          let jns_retrive = JSON.parse(localStorage.getItem('json_feedback_responsive'))
          // localStorage.setItem('json_names',JSON.stringify(json_names));
      }

      let jns_parse = JSON.parse(localStorage.getItem('json_feedback_responsive'));
      console.log(jns_parse);
      let html=``;
      jns_parse.map((name)=>{
  
      html += `
      <div class="blue-grey lighten-5"> 
        <p>${name.comment}</p>
      </div>
      
      
      `;
      });
      document.querySelector('#sem-comment').innerHTML = html;
</script>

  

  <!-- Pagination -->
  <ul class="pagination">
    <li class="btn btn-floating pulse"><a href="/on-page-and-off-page-techniques"><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="/search-engine-marketing">2</a></li>
    <li class="waves-effect"><a href="/on-page-and-off-page-techniques">3</a></li>
    <li class="active"><a href="/mobile-responsive-tools">4</a></li>
    <li class="waves-effect"><a href="/hyperlinking-backlinking">5</a></li>
    <li class="btn btn-floating pulse"><a href="/hyperlinking-backlinking"><i class="material-icons">chevron_right</i></a></li>
  </ul>

    <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Course Bio</h5>
          <p class="grey-text text-lighten-4">I am currently studying Information Technology and learning the use of Search Engine Optimization by creating a blog website.</p>
        </div>

       
        <div class="col l3 s12" id="connect">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://facebook.com/OcreMat">Facebook</a></li>
            <li><a class="white-text" href="https://twitter.com/hyperac1d">Twitter</a></li>
            <li><a class="white-text" href="https://github.com/hyperac1d">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with love by <a class="brown-text text-lighten-3" href="#">Marco Matildo</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>