<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

	<title>Mat Whiz | Search Engine Marketing</title>
  <meta name="keywords" content="techniques, on-page, off-page, etc.">
  <meta name="description" content="Search Engine Optimization">
  <meta name="author" content="Marco Matildo">
	 <!-- CSS  -->
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
	<!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Search Engine Optimization</a></li>
    <li><a href="#!">Search Engine Marketing</a></li>
    <li><a href="#!">On Page and Off Page Techniques</a></li>
    <li><a href="#1">Mobile Responsive Tools</a></li>
    <li><a href="#1">URL Canonicalization, etc..</a></li>
    <li class="divider"></li>
  </ul>

  <!-- Dropdown Structure -->
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">Search Engine Optimization</a></li>
    <li><a href="#!">Search Engine Marketing</a></li>
    <li><a href="#!">On Page and Off Page Techniques</a></li>
    <li><a href="#1">Mobile Responsive Tools</a></li>
    <li><a href="#1">URL Canonicalization, etc..</a></li>
    <li class="divider"></li>
  </ul>
  
  <nav class="teal lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Mat Whiz</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/">Home</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Articles<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#">About</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <!-- <li>
          <div class="user-view">
            <div class="background">
              <img src="images/office.jpg">
            </div>
            <img class="circle" src="images/yuna.jpg">
            <a href="#!name"><span class="white-text name">Marco Mat</span></a>
            <span class="white-text email">jdandturk@gmail.com</span>
          </div>
        </li> -->
        <li><a href="/">Home</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Articles<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#">About</a></li>
      </ul>
      
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"><img src="img/bg6.jpg" alt="Search Engine Optimization"></div>
  </div>
  
  <nav>
    <div class="nav-wrapper teal">
      <div class="navi col s12">
        <a href="/" class="breadcrumb">Home</a>
        <a href="#main-col" class="breadcrumb">Archived</a>
        <a href="#main-col" class="breadcrumb active">On Page and Off Page Techniques</a>
      </div>
    </div>
  </nav>
  <br>
  <hr>
	
 	<section>
    <div class="container">
      <article id="main-col">
        <h1 class="brown-text">On page vs Off page: What's the Difference?</h1><hr>	
		<img src="img/on-vs-off.png" alt="On Page vs Off page" height="300px" width="570px"><hr>
        <p>
          Now that we already justified the difference between the on page seo and off page seo, let's now move on to the practical part.
        </p>
        <p>
          There are many on page SEO techniques and not only 5, but for the purpose of this post, I will only explain the most/absolute setting you have to apply on your website today.
        </p>
        <img src="img/seo-guides.png" height="300px" width="570px">
          <h6 class="title">1. Content comes first</h6>
          <p>
            A website with brilliant content can do great with or without SEO, a website with bad content will not survive with or without SEO, a website with good content can become even better with SEO!
          </p>

          <h6 class="title">2. Page title, description and formatting</h6>
          <p>
            This is SEO 101 yet critical for on-page SEO. At the point when web crawlers are "perusing" your pages, among the things, they check the page title, the portrayal of the page, the headings and substance (content, recordings and pictures).
          </p>
          <p>
            <b>Page titles</b> - Each page must have a unique title that will help both search engines and users understand what the page is about. A page with title “On Page SEO Tips” is better than a page with title “index.html”.
          </p>
          <p>
            <b>Descriptions</b> - The page description is what the searcher will see in the search engine results page. It has to be descriptive, up to 150 characters and unique for each page.
          </p>
          <p>
            <b>Formatting</b> -  A page needs to be properly formatted. Think of it like a report which needs to have a heading (h1) and sub headings (h2).
          </p>
          <p>
            <b>Images</b> - Images are important for presentation purposes but they should not increase the loading time of the website. Best practices for using images:

            <ol>
              <li>Use original images. If you need to use an existing image from the web you need to reference the source.</li>
              <li>Use an ALT tag to describe the image – This helps search engines understand what the image is about.</li>
              <li>Optimise the size of the images – the smaller the size (in bytes) of the image the better.</li>
            </ol>
          </p>

          <h6 class="title">3. URL Structure</h6>
          <p>The URL structure is an important part of on-page SEO. Whenever I talk about URL structure, I prefer to split it into 4 major parts:</p>
          <p><b>Permanent links</b> - A permanent link is the unique URL of each page. Good URLs should be less than 255 characters and use hyphens to ‘-‘separate the different parts</p>
          <p>For example a good URL is: <a href="hhttp://backlinko.com/on-page-seohhttp://backlinko.com/on-page-seo">http://backlinko.com/on-page-seo</a></p>
        <p><i>A bad URL is:</i></p>
        <p>https://www.reliablesoft.net/p?165 or <br>
        https://www.reliablesoft.net/seotipsforbeginners/ or <br>
        https://www.reliablesoft.net/123131/publish/data2/seo_Tips.html</p>
        <h6 class="title">4. Internal Linking</h6>
        <p>
          Linking to pages within your website is very important for SEO because:<br><br>
          <b>It’s a way to let search engines know about your other pages:</b> As explained above when search engines find a page with links, they will go and read those pages too, so you can use this technique to tell search engines about pages of your website they have not yet discovered. <br>
          <b>It’s a way to tell search engines which are your most important pages:</b>Every website has some pages that are more important than others. Internal linking is one of the ways to pinpoint the most important pages by sending them more internal links. <br>

          <strong>Best practices for internal linking:</strong>
          <ol>
            <li>Add internal links when they are useful for your reader</li>
            <li>Don’t use keywords only for your internal links</li>
            <li>No more than 15 internal links per page (this is my opinion and not based on any research or studies)</li>
          </ol>
        </p>
        <h6 class="title">5. Speed and Mobile</h6>
        <p>
          Last but not least, 2 SEO techniques that are becoming more and more important are Speed and Mobile friendliness. <br>
          <b>Speed: </b>Google is investing a huge amount of money to make the web faster. In every Google I/O someone will talk about the importance of speed and their desire to include the fastest websites in their index. <br>
          <b>Mobile Friendly: </b> Almost 60% of the searches in Google are now coming from mobile devices (Updated December 2016).
        </p><br><br>

        <h3 class="brown-text">OFF Page Techniques</h3>
        <p>
          There are lots of off page tecniques but I'll just specify 5 guides for off-page technique. <br>
          <h6 class="title">1: Create a 10x product or service</h6> <br>
          When your product or service is recognized as the best in its class, your job as SEO becomes much, much easier. <br>

          That’s because both online and offline, people are likely saying great things about the product and brand, which leads to visits to your website, positive reviews on third-party sites, and increased sales of the product. <br><br>

          <h6 class="title">2: Customer service</h6> <br>
          It’s not hard to imagine how poor customer service has made the brand’s SEO and PR teams’ reputation management efforts a nightmare <br><br>

          <h6 class="title">3: Focus on web searches's intent</h6> <br>
          Turns out the old cliche that “you attract more flies with honey than vinegar” is very relevant to SEO. People are typically more willing to buy and use your products and services if they can first find them. <br><br>

          <h6 class="title">4: Having a responsive social media presence</h6> <br>
          After using Google Autosuggest to find the answer, they’re likely to visit social media to learn more, ask questions, and interact with their friends, family members, and acquaintances  <br>

          It’s much easier than most brands think, too:

          <ol>
            <li>
              <b>Be there: </b> If you have a social media account, make sure someone is monitoring it and can answer questions and respond to comments in a timely fashion.
            </li>
            <li><b>Be human: </b>People online expect genuine interaction, not robotic responses or constant brand promotion.</li>
            <li><b>Be proactive: </b></li>
          </ol>
        </p>
        <p>
          As you can see, the price of unresponsiveness on social media negatively impacts far more than SEO:
        </p>
         <img src="img/unresponsiveness.png" height="300px" width="570px">

         <h6 class="title">5. Build connections with social media/online influencers</h6>
         <p>When people say “Social media does nothing for my brand,” most SEOs must think, “Oh, but how wrong you are.”
          <br>
          Whether it’s the largely unmeasurable dark traffic social sends to your site or the connections with a base of people who could be customers or supporters at some point, social media can be an asset for any brand, if used wisely. </p>
      </article>
    </div>
  </section>

  <!-- COMMENT SECTION -->
  <div class="comment-section">
    <div class="container"><br><br>
      <h4>Comment down below!</h4>
      <div class="comment-box">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="comment" class="materialize-textarea"></textarea>
              <label for="comment">Comment here!</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light col s12" type="submit" onclick="insertComment()" id="btn-submit"><a href="#!"></a>Submit</button><br><br><br><br>
        </form>
      </div>
    </div>
    
    <div class="container">
      <h4>COMMENTS:</h4><br>
      <div id="sem-comment">
      </div>
    </div>
  </div>

  <script>
          let json_feedback_on = [];

          try{
              let tmp_accounts = JSON.parse(localStorage.getItem("json_feedback_on"));

              tmp_accounts.map((account)=>{
                  console.log(account);
                  json_feedback_on.push(account);
              });
           
          }
          catch(TypeError){
              localStorage.setItem('json_feedback',JSON.stringify(json_feedback_on));
          }


          function insertComment(){
              let username = document.querySelector('#comment').value;
              let newName = {
                  comment: username
              }
              json_feedback_on.push(newName);
              let jns = JSON.stringify(json_feedback_on)
              localStorage.setItem('json_feedback_on', jns)
              let jns_retrive = JSON.parse(localStorage.getItem('json_feedback_on'))
              // localStorage.setItem('json_names',JSON.stringify(json_names));
          }



          let jns_parse = JSON.parse(localStorage.getItem('json_feedback_on'));
          console.log(jns_parse);
          let html=``;
          jns_parse.map((name)=>{
      
          html += `
          <div class="blue-grey lighten-5"> 
            <p>${name.comment}</p>
          </div>
          
          
          `;
          });
          document.querySelector('#sem-comment').innerHTML = html;
    </script>

  <ul class="pagination">
    <li class="btn btn-floating pulse"><a href="/search-engine-marketing"><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect"><a href="/">1</a></li>
    <li class="waves-effect"><a href="/search-engine-marketing">2</a></li>
    <li class="active"><a href="/on-page-and-off-page-techniques">3</a></li>
    <li class="waves-effect"><a href="/mobile-responsive-tools">4</a></li>
    <li class="waves-effect"><a href="/hyperlinking-backlinking">5</a></li>
    <li class="btn btn-floating pulse"><a href="/mobile-responsive-tools"><i class="material-icons">chevron_right</i></a></li>
  </ul>

    <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Course Bio</h5>
          <p class="grey-text text-lighten-4">I am currently studying Information Technology and learning the use of Search Engine Optimization by creating a blog website.</p>
        </div>

       
        <div class="col l3 s12" id="connect">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://facebook.com/OcreMat">Facebook</a></li>
            <li><a class="white-text" href="https://twitter.com/hyperac1d">Twitter</a></li>
            <li><a class="white-text" href="https://github.com/hyperac1d">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with love by <a class="brown-text text-lighten-3" href="#">Marco Matildo</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
 

</body>
</html>