<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

	<title>Mat Whiz | Search Engine Marketing</title>
  <meta name="keywords" content="optimization, search engine, marketing, etc.">
  <meta name="description" content="Search Engine Marketing">
  <meta name="author" content="Marco Matildo">
	 <!-- CSS  -->
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
	<!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Search Engine Optimization</a></li>
    <li><a href="#!">Search Engine Marketing</a></li>
    <li><a href="#!">On Page and Off Page Techniques</a></li>
    <li><a href="#1">Mobile Responsive Tools</a></li>
    <li><a href="#1">URL Canonicalization, etc..</a></li>
    <li class="divider"></li>
  </ul>

  <!-- Dropdown Structure -->
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">Search Engine Optimization</a></li>
    <li><a href="#!">Search Engine Marketing</a></li>
    <li><a href="#!">On Page and Off Page Techniques</a></li>
    <li><a href="#1">Mobile Responsive Tools</a></li>
    <li><a href="#1">URL Canonicalization, etc..</a></li>
    <li class="divider"></li>
  </ul>
  
  <nav class="teal lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Mat Whiz</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/">Home</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Articles<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#">About</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <!-- <li>
          <div class="user-view">
            <div class="background">
              <img src="images/office.jpg">
            </div>
            <img class="circle" src="images/yuna.jpg">
            <a href="#!name"><span class="white-text name">Marco Mat</span></a>
            <span class="white-text email">jdandturk@gmail.com</span>
          </div>
        </li> -->
        <li><a href="/">Home</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Articles<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#">About</a></li>
      </ul>
      
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"><img src="img/bg5.jpg" alt="Search Engine Optimization"></div>
  </div>
  
  <nav>
    <div class="nav-wrapper teal">
      <div class="navi col s12">
        <a href="/" class="breadcrumb">Home</a>
        <a href="#main-col" class="breadcrumb">Search Engine Marketing</a>
      </div>
    </div>
  </nav>
  <br>
  <hr>
  
  <section id="main">
    <div class="container">
      <article id="main-col">
        <h1 class="article-title brown-text">The difference between SEO and SEM and SEO Strategies.</h1>
        <!--Author and published date -->
        <div class="row">
          <div class="col s4"><i class="tiny material-icons">person</i> Matildo, M.</div>
          <div class="col s4"><i class="tiny material-icons">date_range</i> June 23, 2017</div>
        </div>
        <hr>
        <img src="img/SEM.jpg" alt="Search Engine Marketing" height="300px" width="570px"><hr>
        <p class="introduction">Let's us now differentiate and dig in more deeper about the Search engine optimization and the search engine marketing.</p>

        <p>So <b class="brown-text">Search Engine Optimization</b> is that for the website streamlining can be portrayed as methodologies and strategies used to guarantee that a webpage is open in the internet searcher and enhances the odds that the website will be found by the web index while the <b class="brown-text">Search Engine Marketing</b> is a more extensive term than SEO, and is utilized to envelop diverse choices accessible to utilize an internet searcher's innovation, including paid advertisements. SEM is regularly used to depict acts related with looking into, submitting and situating a site inside web search tools. It incorporates things, for example, website streamlining, paid postings and other web crawler related administrations and capacities that will expand introduction and activity to your Web webpage.</p>
        <br><br>
        <p class="sub-title"><b>Search Engine Optmization Strategies that can help your site increase the odds that the website will be found by the web index.</b></p><br>

        <p>These are the list of Strategies that can help your site improve:</p>
        <h6><strong><i>Domain Strategies</i></strong></h6>
        <p>An area name technique can increase the value of the presence of your site by exploiting the most unmistakable segment, the address. They realize that exclusive enlisting one area name risks others infringing on your marking an area, maybe notwithstanding utilizing some of your trademarks.</p>

        <h6><strong><i>Linking Strategy</i></strong></h6>
        <p>They realize that exclusive enlisting one area name risks others infringing on your marking an area, maybe notwithstanding utilizing some of your trademarks. Connections are a fantastically critical factor to enhance look execution, and they appear to be making a resurgence this year. These assets will enable learners to comprehend more; it pays to peruse them before executing any crusade.</p><br>

        <h6><strong><i>Keywords Strategy</i></strong></h6>
        <p>Watchword look into is the initial step to a fruitful SEO methodology. Those fruitful with SEO comprehend what individuals are looking for while finding their business in a web index. Your keyword strategy should involve selecting high-performing keywords that drive relevant traffic to your business</p><br>
        <h6><strong><i>Title Tags Strategy</i></strong></h6>
        <p>Title labels are essentially precisely what they seem like — the title of the page. As a title, this tag ought to be utilized to portray what a client can hope to discover on a specific page.</p><br>
        <h6><strong><i>Meta Description</i></strong></h6>
        <p>Meta labels still assume an imperative part in SEO. On the off chance that you write any catchphrase into an internet searcher, you'll perceive how that watchword is reflected in the title for that page.</p><br>
        <h6><strong><i>Alt Tags Strategy</i></strong></h6>
        <p>The “Alt” tag is an older HTML coding strategy originally envisioned to compensate for users and browsers not equipped to handle images. If the domains you registered only serve the purpose of alternate spellings or phrasing for your brand, a 301 redirect to your main page may be the best idea.</p><br>
        <h6><strong><i>Search Engine Indexing Strategy</i></strong></h6>
        <p> By understanding this relationship between different entities, search engines understand the context meaning of the blog content easily. The ordering component is inert semantic ordering. In inert semantic ordering web indexes, decide the connection between various elements or part of a blog content.</p><br>

        <div class="light-brown">
          <h6><b>Is it possible to combine strategies? If yes, which strategies would you like to implement? Why?</b></h6>
          <p>Yes, And the strategies that i would like to implement is all in the list because it will really help my blog to rank better and enhancing the odds that the website will be found on the web index. You can also test yours by using some search engine tester or other website such as testing your mobile responsiveness and showing also the result of SEO.</p>
        </div>
      </article>
    </div>
  </section>

  <!-- COMMENT SECTION -->
  <div class="comment-section">
    <div class="container"><br><br>
      <h4>Comment down below!</h4>
      <div class="comment-box">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="comment" class="materialize-textarea"></textarea>
              <label for="comment">Comment here!</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light col s12" type="submit" onclick="insertComment()" id="btn-submit"><a href="#!"></a>Submit</button><br><br><br><br>
        </form>
      </div>
    </div>
    
    <div class="container">
      <h4>COMMENTS:</h4><br>
      <div id="sem-comment">
      </div>
    </div>
  </div>

<script>
      let json_feedback = [];

      try{
          let tmp_accounts = JSON.parse(localStorage.getItem("json_feedback"));

          tmp_accounts.map((account)=>{
              console.log(account);
              json_feedback.push(account);
          });
       
      }
      catch(TypeError){
          localStorage.setItem('json_feedback',JSON.stringify(json_feedback));
      }


      function insertComment(){
          let username = document.querySelector('#comment').value;
          let newName = {
              comment: username
          }
          json_feedback.push(newName);
          let jns = JSON.stringify(json_feedback)
          localStorage.setItem('json_feedback', jns)
          let jns_retrive = JSON.parse(localStorage.getItem('json_feedback'))
          // localStorage.setItem('json_names',JSON.stringify(json_names));
      }

      let jns_parse = JSON.parse(localStorage.getItem('json_feedback'));
      console.log(jns_parse);
      let html=``;
      jns_parse.map((name)=>{
  
      html += `
      <div class="blue-grey lighten-5"> 
        <p>${name.comment}</p>
      </div>
      
      
      `;
      });
      document.querySelector('#sem-comment').innerHTML = html;
</script>



  <ul class="pagination">
    <li class="btn btn-floating pulse"><a href="/"><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect"><a href="/">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li class="waves-effect"><a href="/on-page-and-off-page-techniques">3</a></li>
    <li class="waves-effect"><a href="/mobile-responsive-tools">4</a></li>
    <li class="waves-effect"><a href="/hyperlinking-backlinking">5</a></li>
    <li class="btn btn-floating pulse"><a href="/on-page-and-off-page-techniques"><i class="material-icons">chevron_right</i></a></li>
  </ul>

    <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Course Bio</h5>
          <p class="grey-text text-lighten-4">I am currently studying Information Technology and learning the use of Search Engine Optimization by creating a blog website.</p>
        </div>

       
        <div class="col l3 s12" id="connect">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://facebook.com/OcreMat">Facebook</a></li>
            <li><a class="white-text" href="https://twitter.com/hyperac1d">Twitter</a></li>
            <li><a class="white-text" href="https://github.com/hyperac1d">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with love by <a class="brown-text text-lighten-3" href="#">Marco Matildo</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/comment.js"></script>
</body>
</html>