<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <title>Mat Whiz | Website needs SEO</title>
  <meta name="keywords" content="techniques, on-page, off-page, etc.">
  <meta name="description" content="Search Engine Optimization">
  <meta name="author" content="Marco Matildo">
   <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Search Engine Optimization</a></li>
    <li><a href="#!">Search Engine Marketing</a></li>
    <li><a href="#!">On Page and Off Page Techniques</a></li>
    <li><a href="#1">Mobile Responsive Tools</a></li>
    <li><a href="#1">URL Canonicalization, etc..</a></li>
    <li><a href="#1">How does organic traffic work?</a></li>
    <li><a href="#1">Website need SEO</a></li>
    <li><a href="#1">Website without SEO</a></li>
    <li><a href="#1">SEO Ethics</a></li>
    <li class="divider"></li>
  </ul>

  <!-- Dropdown Structure -->
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">Search Engine Optimization</a></li>
    <li><a href="#!">Search Engine Marketing</a></li>
    <li><a href="#!">On Page and Off Page Techniques</a></li>
    <li><a href="#1">Mobile Responsive Tools</a></li>
    <li><a href="#1">URL Canonicalization, etc..</a></li>
    <li><a href="#1">How does organic traffic work?</a></li>
    <li><a href="#1">Website need SEO</a></li>
    <li><a href="#1">Website without SEO</a></li>
    <li><a href="#1">SEO Ethics</a></li>
    <li class="divider"></li>
  </ul>
  
  <nav class="teal lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Mat Whiz</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/">Home</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Articles<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#">About</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <!-- <li>
          <div class="user-view">
            <div class="background">
              <img src="images/office.jpg">
            </div>
            <img class="circle" src="images/yuna.jpg">
            <a href="#!name"><span class="white-text name">Marco Mat</span></a>
            <span class="white-text email">jdandturk@gmail.com</span>
          </div>
        </li> -->
        <li><a href="/">Home</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Articles<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#">About</a></li>
      </ul>
      
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"><img src="img/banner-backlink.jpg" alt="Search Engine Optimization"></div>
  </div>

  <nav>
    <div class="nav-wrapper teal">
      <div class="navi col s12">
        <a href="/" class="breadcrumb">Home</a>
        <a href="#main-col" class="breadcrumb">Search Engine Optimization</a>
        <a href="#main-col" class="breadcrumb active">SEO Ethics</a>
      </div>
    </div>
  </nav>
  <br>
  <hr>

  <div>
    <div class="container">
      <article id="main-col">
        <h1 class="brown-text">Search Engine Optimization Ethics</h1>
        <!--Author and published date -->
        <div class="row">
          <div class="col s4"><i class="tiny material-icons">person</i> Matildo, M.</div>
          <div class="col s4"><i class="tiny material-icons">date_range</i> September 8, 2017</div>
        </div>
        <hr>
        

      <p>Ethical SEO is a popular selling point for agencies and consultants, but what truly constitutes ethical SEO?</p>
      
      </article>
    </div>
  </div>

  <div class="grey-bg">
    <div class="container">
      <article>
        <h5 class="brown-text">Guidelines that will keep your reputation, your clients, and the search engines happiness</h5><br>
        <p class="sub-title"><b>1. Follow the Search Engine's Guidelines</b></p>
        <p><b></b>First of all, it is obvious that search engines have rules of the road. Learn them.</b></p>
        <p>Some of the Search engine guidelines</p>
        <ol>
          <li><a href="https://help.yahoo.com/kb/search/content-quality-guidelines-sln2245.html">Yahoo Content Quality Guidelines</a></li>
          <li><a href="https://support.google.com/webmasters/answer/35769">Google Webmaster Guidelines</a></li>
          <li><a href="https://www.bing.com/webmaster/help/webmaster-guidelines-30fba23a">Bing Webmaster Guidelines</a></li>
        </ol>
        
        <p><b>Webmaster guidelines include:</b></p>
        <ol>
          <li>Quality guidelines for content</li>
          <li>How to organize a website for better inclusion</li>
          <li>Descriptions of the types of content search engines want to serve in their results</li>
        </ol>
        <p class="sub-title"><b>2. Separate SEO From Non-SEO</b></p>
        <p>I am a major advocate of good outline and client encounter. I trust awesome substance supplemented by all around made plan will enhance third party referencing. However, I don't offer outline as SEO. It's essential to isolate SEO from those things that may make SEO simpler, however are not so much SEO.</p>
        <p>A definitive objective of SEO is more guests, changes, deals, income, ROI, and so on. As you chip away at sites will undoubtedly observe advantageous open doors that have nothing to do with SEO. Offer these with your customers or businesses; simply don't get diverted by them. If all else fails, allude to #2. Will it affect SEO in the biggest, most quick way?</p>
        <p>In the event that you think a non-SEO thing is basic and it's something you can address, try to offer it as an extra administration.</p>

        <p class="sub-title"><b>3. Respect Your Employee's Values</b></p>
        <p>Organizations go up against a wide range of customers. Most will never offer ascent to complaints. Others may conflict with the individual morals of your staff individuals.</p>
        <p>Regardless of whether it's sex toys, betting or another hot-catch issue, what might be a true blue business to you may irritate a representative. Regard them. Try not to compel staff individuals to relinquish their qualities.</p>
        <p>What ethics that affect SEO matter to you? I’d love to hear about it in the comments.</p><br><br><br><br>


        <!-- <div class="related-links">
          <h5>Articles which may be of interest to you</h5><hr><br>
          <ol>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ol>
        </div> -->

        <h5><i>Reference:</i></h5>
        <ol>
          <li><a href="http://searchengineland.com/5-ethical-seo-examples-consider-194185">Want to Future-Proof Your SEO? 6 Ethical Guidelinse to Consider</a></li>
        </ol>


      </article>
    </div>
  </div>

  <!-- COMMENT SECTION -->
  <div class="comment-section">
    <div class="container"><br><br>
      <h4>Comment down below!</h4>
      <div class="comment-box">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="comment" class="materialize-textarea"></textarea>
              <label for="comment">Comment here!</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light col s12" type="submit" onclick="insertComment()" id="btn-submit"><a href="#!"></a>Submit</button><br><br><br><br>
        </form>
      </div>
    </div>
    
    <div class="container">
      <h4>COMMENTS:</h4><br>
      <div id="sem-comment">
      </div>
    </div>
  </div>

<script>
      let json_feedback_page8 = [];

      try{
          let tmp_accounts = JSON.parse(localStorage.getItem("json_feedback_page8"));

          tmp_accounts.map((account)=>{
              console.log(account);
              json_feedback_page8.push(account);
          });
       
      }
      catch(TypeError){
          localStorage.setItem('json_feedback_page8',JSON.stringify(json_feedback_page8));
      }


      function insertComment(){
          let username = document.querySelector('#comment').value;
          let newName = {
              comment: username
          }
          json_feedback_page8.push(newName);
          let jns = JSON.stringify(json_feedback_page8)
          localStorage.setItem('json_feedback_page8', jns)
          let jns_retrive = JSON.parse(localStorage.getItem('json_feedback_page8'))
          // localStorage.setItem('json_names',JSON.stringify(json_names));
      }

      let jns_parse = JSON.parse(localStorage.getItem('json_feedback_page8'));
      console.log(jns_parse);
      let html=``;
      jns_parse.map((name)=>{
  
      html += `
      <div class="blue-grey lighten-5"> 
        <p>${name.comment}</p>
      </div>
      
      
      `;
      });
      document.querySelector('#sem-comment').innerHTML = html;
</script>

  <ul class="pagination">
    <li class="btn btn-floating pulse"><a href="/website-without-seo"><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect"><a href="/hyperlinking-backlinking">5</a></li>
    <li class="waves-effect"><a href="/organic-traffic">6</a></li>
    <li class="waves-effect"><a href="/website-needs-seo">7</a></li>
    <li class="waves-effect"><a href="/website-without-seo">8</a></li>
    <li class="active"><a href="/seo-ethics">9</a></li>
    <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>

  </ul>

    <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Course Bio</h5>
          <p class="grey-text text-lighten-4">I am currently studying Information Technology and learning the use of Search Engine Optimization by creating a blog.</p>
        </div>

       
        <div class="col l3 s12" id="connect">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://facebook.com/OcreMat">Facebook</a></li>
            <li><a class="white-text" href="https://twitter.com/hyperac1d">Twitter</a></li>
            <li><a class="white-text" href="https://github.com/hyperac1d">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with love by <a class="brown-text text-lighten-3" href="#">Marco Matildo</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  
</body>
</html>
